<div class="wrapper">
  <div class="screen" id="screen-1" data-video="/assets/bird.mp4">
      <img src="/assets/bird.jpg" class="big-image" />
      <h1 class="video-title">#Welcome!!</h1>
  </div>
</div>